*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    outline: 3px solid black;
    background-color: darksalmon;
    /* margin: 0px auto; */
    margin: 50px 200px;
    padding: 50px;
    display: flex;
    justify-content: space-around; 
}

ul{
    list-style-type: none;
}

li{
    padding: 10px;
}

select, .name, textarea{
    font-size: 1.3rem;
}

label{
    font-size: 1.3rem;
    color: white;
    text-shadow: 2px 2px black;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px black;

}

#sub{
    font-size: 2rem;
    box-shadow: 3px 3px black;
    background-color: yellow;
    margin-left: 200px;

}